{% extends '../base.html' %}
{% block body %}

<section class="blog-page">
    <div class="cards">
        {% for p in authors %}
        <a href="/blog/" class="card__landscape">
            <div class="card__landscape--content">
                <h3>{{ p.first_name }} {{ p.last_name }}</h3>
            </div>
        </a>
        {% end %}
    </div>

</section>

{% end %}