{% extends '../base.html' %}
{% block body %}

<section class="blog-page">
    <a class="card--serve card--add"
       onclick='document.getElementById("createTemplateModal").classList.add("opened");'>
        <div class="arrow"></div>
        <img src="/static/img/svg/add.svg" alt="add product">
        <p>kliknite da dodate post</p>
    </a>
    <div class="cards">
        {% for p in posts %}
        <a href="/blog/{{ p.slug }}" class="card__landscape"
           style="background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ p.page_photo() }}');background-size: cover;background-position: center">
            <div class="card__landscape--content">
                <h3>{{ p.title }}</h3>
                <p>{% raw p.body_text() %}</p>
            </div>
        </a>
        {% end %}
    </div>

</section>

{% include '../partials/modals/create_template_modal.html' %}
{% end %}