{% extends '../base.html' %}
{#{% block head %}#}
{#{% include '../partials/meta_tags.html' %}#}
{#{% end %}#}

{% block body %}

<div class="course">
    <div class="course__video">
        <div class="course__video--iframe">
            <img src="/static/img/konferencije/course.png" alt="">
        </div>
        <div class="course-section">Section 2: The basics</div>
        <div class="course__video--info">
            <h3>Installing Python</h3>
            <div>
                <a href=""><img src="/static/img/konferencije/icons/favourite/heart.svg" alt=""></a>
                <a href=""><img src="/static/img/konferencije/icons/favourite/heart.svg" alt=""></a>
                <a href=""><img src="/static/img/konferencije/icons/favourite/download.svg" alt=""></a>
            </div>
        </div>
        <div class="line"></div>

    </div>
    <div class="course__list" id="course-list">
        <h2>Course content</h2>
        <div class="course__list--content">
            <div class="accordion">
                <div>
                    <p>Module 1: Getting Started</p>
                    <span class="course-section--duration">10/11 | 54min</span>
                </div>
                <img src="/static/img/icons/arrow-down.svg" alt="Arrow down">
            </div>
            <div class="panel">
                <div class="lesson">

                    <div id="change-video" class="panel__info">
                                <span>
{#                                    <input type="checkbox" name="">#}
                                    <a class="videochange" id="id"
                                            {#                                       onclick="changeVideo( '{{ course['url'] }}' )"#}
                                    >Lesson 1</a>
                                </span>
                        <span class="panel__info--resources">
                                    <a href="fajl"><img src="/static/img/icons/resources.png"
                                                        alt=""></a>
                                </span>
                    </div>
                    <div class="panel__info&#45;&#45;duration">
                        <p><img src="/static/img/konferencije/icons/time.png" alt="">
                            5min

                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div>
                    <p>Module 2: The Basics</p>
                    <span class="course-section--duration">10/11 | 54min</span>
                </div>
                <img src="/static/img/icons/arrow-down.svg" alt="Arrow down">
            </div>
            <div class="panel">
                <div class="lesson">
                    <div id="change-video" class="panel__info">
                                <span>
{#                                    <input type="checkbox" name="">#}
                                    <a class="videochange" id="id"
                                            {#                                       onclick="changeVideo( '{{ course['url'] }}' )"#}
                                    >Lesson 1</a>
                                </span>
                        <span class="panel__info--resources">
                                    <a href="fajl"><img src="/static/img/icons/resources.png"
                                                        alt=""></a>
                                </span>
                    </div>
                    <div class="panel__info&#45;&#45;duration">
                        <p><img src="/static/img/konferencije/icons/time.png" alt="">
                            5min

                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div>
                    <p>Module 3: Course project</p>
                    <span class="course-section--duration">10/11 | 54min</span>
                </div>
                <img src="/static/img/icons/arrow-down.svg" alt="Arrow down">
            </div>
            <div class="panel">
                <div class="lesson">
                    <div id="change-video" class="panel__info">
                                <span>
{#                                    <input type="checkbox" name="">#}
                                    <a class="videochange" id="id"
                                            {#                                       onclick="changeVideo( '{{ course['url'] }}' )"#}
                                    >Lesson 1</a>
                                </span>
                        <span class="panel__info--resources">
                                    <a href="fajl"><img src="/static/img/icons/resources.png"
                                                        alt=""></a>
                                </span>
                    </div>
                    <div class="panel__info&#45;&#45;duration">
                        <p><img src="/static/img/konferencije/icons/time.png" alt="">
                            5min

                        </p>
                    </div>
                    <div id="change-video" class="panel__info">
                                <span>
{#                                    <input type="checkbox" name="">#}
                                    <a class="videochange" id="id"
                                            {#                                       onclick="changeVideo( '{{ course['url'] }}' )"#}
                                    >Lesson 2</a>
                                </span>
                        <span class="panel__info--resources">
                                    <a href="fajl"><img src="/static/img/icons/resources.png"
                                                        alt=""></a>
                                </span>
                    </div>
                    <div class="panel__info&#45;&#45;duration">
                        <p><img src="/static/img/konferencije/icons/time.png" alt="">
                            5min

                        </p>
                    </div>
                </div>
                <div class="lesson">
                    <div id="change-video" class="panel__info">
                                <span>
{#                                    <input type="checkbox" name="">#}
                                    <a class="videochange" id="id"
                                            {#                                       onclick="changeVideo( '{{ course['url'] }}' )"#}
                                    >Lesson 3</a>
                                </span>
                        <span class="panel__info--resources">
                                    <a href="fajl"><img src="/static/img/icons/resources.png"
                                                        alt=""></a>
                                </span>
                    </div>
                    <div class="panel__info&#45;&#45;duration">
                        <p><img src="/static/img/konferencije/icons/time.png" alt="">
                            5min

                        </p>
                    </div>
                </div>
                <div class="lesson">
                    <div id="change-video" class="panel__info">
                                <span>
{#                                    <input type="checkbox" name="">#}
                                    <a class="videochange" id="id"
                                            {#                                       onclick="changeVideo( '{{ course['url'] }}' )"#}
                                    >Lesson 4</a>
                                </span>
                        <span class="panel__info--resources">
                                    <a href="fajl"><img src="/static/img/icons/resources.png"
                                                        alt=""></a>
                                </span>
                    </div>
                    <div class="panel__info&#45;&#45;duration">
                        <p><img src="/static/img/konferencije/icons/time.png" alt="">
                            5min

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="course__other">

        <h3>Description</h3>
        <div class="margin-left25">
            <p>Angular is the next big deal. Being the successor of the overwhelmingly successful Angular.js framework
                it’s bound to shape the future of frontend development in a similar way. The powerful features and
                capabilities of Angular allow you to create complex, customizable, modern, responsive and user friendly
                web applications. Angular is the next big deal. Being the successor of the overwhelmingly successful
                Angular.js framework
                it’s bound to shape the future of frontend development in a similar way. The powerful features and
                capabilities of Angular allow you to create complex, customizable, modern, responsive and user friendly
                web applications.</p>

            <p>Angular is the next big deal. Being the successor of the overwhelmingly successful Angular.js framework
                it’s bound to shape the future of frontend development in a similar way. The powerful features and
                capabilities of Angular allow you to create complex, customizable, modern, responsive and user friendly
                web applications. Angular is the next big deal. Being the successor of the overwhelmingly successful
                Angular.js framework
                it’s bound to shape the future of frontend development in a similar way. The powerful features and
                capabilities of Angular allow you to create complex, customizable, modern, responsive and user friendly
                web applications.</p>
        </div>

        <div class="course-qa">
            <h3>Q&A</h3>
            <div class="margin-left25">
                <div>
                    <div class="course-user">
                        <img src="/static/img/avatar-cika.jpg" alt="">
                        <div>
                            <h2>Didnt understand snippet</h2>
                            <h5>What are we oding by new ingredient(). are we creating an array? Why
                                simply not
                                (me...</h5>
                        </div>
                    </div>
                    <div class="course-user">
                        <img class="course-msg" src="/static/img/icons/course-message.png" alt="">
                        <a>Advaith - Lecture 83 - an hour ago</a>
                    </div>
                </div>

                <div class="line"></div>

                <div>
                    <div class="course-user">
                        <img src="/static/img/avatar-cika.jpg" alt="">
                        <div>
                            <h2>Is the event ingredientsCharged</h2>
                            <h5>So i have almost finished the course, and the main reason why I learnt
                                angular was s...</h5>
                        </div>
                    </div>
                    <div class="course-user">
                        <img class="course-msg" src="/static/img/icons/course-message.png" alt="">
                        <a>Advaith - Lecture 83 - an hour ago</a>
                    </div>
                </div>

                <div class="line"></div>

                <div>
                    <div class="course-user">
                        <img src="/static/img/avatar-cika.jpg" alt="">
                        <div>
                            <h2>Bug with navigating to another route.</h2>
                            <h5>So I'm using this same method to redirect the user in my application,
                                the only differe...</h5>
                        </div>
                    </div>
                    <div class="course-user">
                        <img class="course-msg" src="/static/img/icons/course-message.png" alt="">
                        <a>Advaith - Lecture 83 - an hour ago</a>
                    </div>
                </div>

                <a class="course-qa--btn" href="#">+See more</a>
            </div>
        </div>
        <div class="course-bookmarks">
            <h3>Bookmarks</h3>
            <div class="margin-left25">
                <div class="course-bookmark">
                <div class="course-bookmarks__section">
                    <div>
                        <h6>Section 2:</h6>
                        <h2>The Basics</h2>
                        <h5>21. Fully understanding the commponent selector</h5>
                    </div>
                </div>
                <div class="course-bookmarks__date">
                    <a><img src="/static/img/konferencije/icons/time.png" alt="Location">6:32</a>
                    <a>2 years ago</a>
                </div>
            </div>

            <div class="line"></div>

            <div class="course-bookmark">
                <div class="course-bookmarks__section">
                    <div>
                        <h6>Section 6:</h6>
                        <h2>Course Project - Components & databinding</h2>
                        <h5>88. Allowing the user to add ingredients to the shopping list</h5>
                    </div>
                </div>
                <div class="course-bookmarks__date">
                    <a><img src="/static/img/konferencije/icons/time.png" alt="Location">6:32</a>
                    <a>2 years ago</a>
                </div>
            </div>

            <div class="line"></div>

            <div class="course-bookmark">
                <div class="course-bookmarks__section">
                    <div>
                        <h6>Section 9:</h6>
                        <h2>Course Project - Components & databinding</h2>
                        <h5>88. Allowing the user to add ingredients to the shopping list</h5>
                    </div>
                </div>
                <div class="course-bookmarks__date">
                    <a><img src="/static/img/konferencije/icons/time.png" alt="Location">6:32</a>
                    <a>2 years ago</a>
                </div>
            </div>
            <div class="line"></div>
            </div>
        </div>
    </div>

</div>

{% end %}