{% extends '../base.html' %}
{% block body %}

<div class="registration">
    <div class="registration-box">
        <form class="registration__form">
            <img src="/static/img/logo-white.png" alt="">
            <input class="input-user" id="username" type="text" placeholder="email">
            <input id="password" type="password" placeholder="password">
            <p id="response_text">,</p>
            <button class="action" type="submit" id="login">Sign In</button>
            <a href="/register">Register</a>

        </form>
    </div>
</div>
{% end %}