{% extends '../base.html' %}

{% block body %}

{#<div style="margin: 100px 0">#}
{#    {% if user is not None %}#}
    <a style="margin-left: auto;margin-right: 60px" onclick="openAddPostModal()" class="login--btn">Add post</a>
    <a id="openShareModal">shre post</a>
{#    {% else %}#}
{#    {% end %}#}
<p>{{ user }}</p>
{#    <div class="news__full" style="margin: 0 60px">#}
{#        <h3>published posts</h3>#}
{#        {% for p in posts[:1] %}#}
{#        <a href="{{ ulang }}news/{{ p.slug }}">#}
{#            <div class="news-photo"#}
{#                 style="background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/uploaded-images/{{ p.cover_img }}');">#}
{#                <div class="news-content news__full--content">#}
{#                    <h5>{{ p.category.text }}</h5>#}
{#                    <h2>{{ p.title }}</h2>#}
{#                    <p>{{ p.intro }}</p>#}
{#                </div>#}
{#            </div>#}
{#        </a>#}
{#        {% end %}#}
{#    </div>#}
{##}
{#    <section class="news__four">#}
        {#        <h3>category</h3>#}
{#        <div class="news__four--grid">#}
{#            {% for p in posts[1:5] %}#}
{#            <a href="{{ ulang }}news/{{ p.slug }}">#}
{#                <img#}
{#                        {% if p.cover_img %}#}
{#                        src="/static/uploaded-images/{{ p.cover_img }}"#}
{#                        {% else %}#}
{#                        src="/static/img/card-placeholder.png"#}
{#                        {% end %}#}
{#                        alt="">#}
{#                <h2>{{ p.title }}</h2>#}
{#            </a>#}
{#            {% end %}#}
{#        </div>#}
{#    </section>#}
{##}
{#    <section class="news__half">#}
{#        <h3>category</h3>#}
{#        <div class="news__half--grid">#}
{#            {% for p in posts[5:6] %}#}
{#            <img#}
{#                    {% if p.cover_img %}#}
{#                    src="/static/uploaded-images/{{ p.cover_img }}"#}
{#                    {% else %}#}
{#                    src="/static/img/card-placeholder.png"#}
{#                    {% end %}#}
{#                    alt="">#}
{#            <div class="news__half--grid-text">#}
{#                <div>#}
{#                    <p>{{ p.intro }}</p>#}
{#                </div>#}
{#                <a href="{{ ulang }}news/{{ p.slug }}">{{ tr(lang, 'see-more') }}</a>#}
{#            </div>#}
{#            {% end %}#}
{#        </div>#}
{##}
{#        <div class="news__four">#}
{#            <div class="news__four--grid">#}
{#                {% for p in posts[6:] %}#}
{#                <a href="{{ ulang }}news/{{ p.slug }}">#}
{#                    <img#}
{#                            {% if p.cover_img %}#}
{#                            src="/static/uploaded-images/{{ p.cover_img }}"#}
{#                            {% else %}#}
{#                            src="/static/img/card-placeholder.png"#}
{#                            {% end %}#}
{#                            alt="">#}
{#                    <h2>{{ p.title }}</h2>#}
{#                </a>#}
{#                {% end %}#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{##}
{#    <div class="news__four" style="margin: 60px">#}
{#        <h3>unpublished posts</h3>#}
{#        <div class="news__four--grid">#}
{#            {% for p in unpublished_posts %}#}
{#            <a href="{{ ulang }}news/{{ p.slug }}">#}
{#                <img#}
{#                        {% if p.cover_img %}#}
{#                        src="/static/uploaded-images/{{ p.cover_img }}"#}
{#                        {% else %}#}
{#                        src="/static/img/card-placeholder.png"#}
{#                        {% end %}#}
{#                        alt="">#}
{#                <h2>{{ p.title }}</h2>#}
{#            </a>#}
{#            {% end %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% include '../partials/modals/add_post_modal.html' %}
{% include '../partials/modals/share_modal.html' %}
{% end %}
