{% extends '../base.html' %}


{% block body %}
{% if post.cover_img %}
<section class="main-section" id="cover"
         style="height:470px;background-image: url('/static/uploaded-images/{{ post.cover_img }}');background-repeat:no-repeat;background-size: cover;background-position: center">
    {% if post.can_edit_post(user) %}
    <div>
        <input type='file' id="fileInput"  accept="image/*"> <span id='file-button-value'></span>
    </div>
    {% else %}
    {% end %}
</section>
{% else %}
<section class="main-section"
         style="height:470px;background-image: url('/static/img/login.jpg');background-position: center">
</section>
{% end %}
<div class="post-btns">
    {% if post.can_edit_post(user) %}
    <a onclick="editPost('{{ post.id }}')" class="fill-btn">save</a>
    {% if post.published_time == None %}
    <a onclick="publishPost('{{ post.id }}')" id="post-publish" class="fill-btn">publish</a>
    {% else %}
    {% end %}
    <a onclick="deletePost('{{ post.id }}')" class="ghost-btn">delete</a>
    {% else %}
    {% end %}
</div>

<section class="article__content">
    <div class="article__content__mobile">
        <div class="article__content--social">
            <a class="facebook"><img src="/static/img/icons/fb-news.svg" alt="Facebook"></a>
            <a class="twitter"><img src="/static/img/icons/tw-news.svg" alt="Twitter"></a>
        </div>
        <div class="article__content--author">
            <p>{{ post.user.author_display_name() }}</p>
            <p>{{ post.display_date() }}</p>
            <p>{{ post.category.text.capitalize() }}</p>
        </div>
        <div class="article__content--likes">
            <div>
                <img src="/static/img/icons/comment.svg" alt="comments">
                <span>{{ len(comments) }} comments</span>
            </div>
        </div>
    </div>
    <div class="article__content--article">
        {% if post.can_edit_post(user) %}
        <div>
            <h1 contenteditable="true" id="edit-title">{{ post.title }}</h1>
            <h3 contenteditable="true" id="edit-subtitle">{{ post.subtitle }}</h3>
            <div contenteditable="true" id="edit-body">{% raw post.get_post_body() %}</div>
        </div>
        {% else %}
        <div>
            <h1>{{ post.title }}</h1>
            <h3>{{ post.subtitle }}</h3>
            <div>{% raw post.get_post_body() %}</div>
        </div>
        {% end %}


        <div class="line"></div>
        <div style="margin-top: 30px" class="event__past-experience">
            <div class="comment-flex">
                <p>{{ len(comments) }} comments</p>
                <a href="/login">Login</a>

            </div>
            <div class="event__past-experience--comment" style="height: 70px;">
                <div class="comment--author">
                    {#                    <img src="/static/img/konferencije/icons/avatar.jpg" alt="">#}
                </div>
                <div class="btn-wrapper">
                    <input type="text" id="comment-text" placeholder="Leave a comment...">
                    <a onclick="addComment('{{ post.id }}', '{{ post.user.author_display_name() }}')"><img
                            class="arrow-right" src="/static/img/icons/arrow-right.png"
                            alt=""></a>
                </div>

            </div>
{#            {{ user.first_name }}#}
{#            {% for _, v in post.get_comments().items() %}#}
{#            {{ v }}#}
{#            {% end %}#}
            <div class="event__past-experience--comment">
                <div class="event__past-experience--comment-info">
                    {% for c in comments %}
                    <div class="single-comment">
                        <h5>{{ c.display_name_of_unauthorized_user }} <span>{{ c.ago() }}</span></h5>
                        <p>{{ c.text }}</p>
                    </div>
                    {% end %}

                </div>
            </div>
        </div>

    </div>
    </div>
</section>
{% include '../partials/modals/cropper_modal.html' %}

{% end %}


{#{% extends '../base.html' %}#}
{#{% block head %}#}
{#{% include '../partials/meta_tags.html' %}#}
{#{% end %}#}
{##}
{#{% block body %}#}
{##}
{#<section class="main-section"#}
{#         style="position:relative;height:470px;background-size: cover;background-position: center;#}
{#                 {% if post.cover_img %}#}
{#                 background-image: url('/static/uploaded-images/{{ post.cover_img }}');#}
{#                 {% else %}#}
{#                 background-image: url('/static/img/konferencije/main-event.png');#}
{#                 {% end %}">#}
{#    {% if post.can_edit_post(user) %}#}
{#    <div>#}
{#        <input type='file' id="fileInput" accept="image/*"> <span id='file-button-value'></span>#}
{#    </div>#}
{#    {% else %}#}
{#    {% end %}#}
{#</section>#}
{##}
{#<div class="post-btns">#}
{#    {% if post.can_edit_post(user) %}#}
{#    <a onclick="e
        <input type='file' id="fileInput" accept="image/*"> <span id='file-button-value'></span>
    </div>
    {% else %}
    {% end %}
</section>
<div class="post-btns">ditPost('{{ post.id }}')" class="login--btn">save</a>#}
{#    {% if post.published_time == None %}#}
{#    <a onclick="publishPost('{{ post.id }}')" id="post-publish" class="login--btn">publish</a>#}
{#    {% else %}#}
{#    {% end %}#}
{#    <a onclick="deletePost('{{ post.id }}')" class="delete-btn">delete</a>#}
{#    {% else %}#}
{#    {% end %}#}
{#</div>#}
{##}
{#<div class="article__content" id="post-id" data-id="{{ post.id }}">#}
{#    <div class="article__content__mobile">#}
{#        <div class="article__content--social">#}
{#            <a class="facebook"><img src="/static/img/konferencije/icons/fb-news.svg" alt="Facebook"></a>#}
{#            <a class="twitter"><img src="/static/img/konferencije/icons/tw-news.svg" alt="Twitter"></a>#}
{#        </div>#}
{#        <div class="article__content--author">#}
{#            <p>by {{ post.user.author_display_name() }}</p>#}
{#            <p>{{ post.display_date() }}</p>#}
{#                        {% if post.can_edit_post(user) %}#}
{#                        <p id="edit-category" contenteditable="true">{{ post.category.text }}</p>#}
{#                        {% else %}#}
{#            <p>{{ post.category.text }}</p>#}
{#                        {% end %}#}
{#        </div>#}
{#        <div class="article__content--likes">#}
{#            <div>#}
{#                <img src="/static/img/konferencije/icons/like.svg" alt="likes">#}
{#                <span>2020</span>#}
{#            </div>#}
{#            <div>#}
{#                <img src="/static/img/konferencije/icons/comment.svg" alt="comments">#}
{#                <span>{{ len(post.comments) }} comments</span>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#    <div class="article__content--article">#}
{#        {% if post.can_edit_post(user) %}#}
{#        <div>#}
{#            <h1 id="edit-title" contenteditable="true">{{ post.title }}</h1>#}
{#            <h3 id="edit-subtitle" contenteditable="true">{{ post.subtitle }}</h3>#}
{#            <div id="edit-body" contenteditable="true" style="min-height: 500px">#}
{#                {% raw post.get_post_body() %}#}
{#            </div>#}
{#        </div>#}
{#        {% else %}#}
{#        <div>#}
{#            <h1>{{ post.title }}</h1>#}
{#            <h3>{{ post.subtitle }}</h3>#}
{#            <div style="min-height: 500px">{% raw post.get_post_body() %}</div>#}
{#        </div>#}
{#        {% end %}#}
{#        {% if post.youtube_link %}#}
{#        <div class="article-youtube">#}
{#            <iframe id="post-youtube" src="{{ post.convert_youtube() }}" allow="autoplay; fullscreen"#}
{#                    allowfullscreen></iframe>#}
{#        </div>#}
{#        {% else %}#}
{#        {% end %}#}
{#                <div class="article__content--tags">#}
{#                    <p id="post-tags" data-id="{{ post.id }}">{{ post.tags }}</p>#}
{#                </div>#}
{#        <div class="article__content--footer">#}
{#            <div>#}
{#                                {% if post.can_edit_post(user) %}#}
{#                                <p>Source <span id="edit-source" contenteditable="true">{{ post.source }}</span></p>#}
{#                                {% else %}#}
{#                <p>Source <span>realpython.com</span></p>#}
{#                                {% end %}#}
{#            </div>#}
{#            <div class="share__news">#}
{#                <a class="facebook"><img src="/static/img/konferencije/icons/fb-news.svg" alt="Facebook"></a>#}
{#                <a class="twitter"><img src="/static/img/konferencije/icons/tw-news.svg" alt="Twitter"></a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="line"></div>#}
{#        <div class="event__past-experience">#}
{#            <div class="comment-flex">#}
{#                <p>{{ len(post.comments) }} comments</p>#}
{#                {% if user is None %}#}
{#                <a href="/login">Login</a>#}
{#                {% else %}#}
{#                {% end %}#}
{#            </div>#}
{#            <div class="event__past-experience--comment" style="height: 70px;">#}
{#                {% if user is not None %}#}
{#                <div class="comment--author">#}
{#                    {% if post.user.profile == user.profile %}#}
{#                    <img src="/static/uploaded-images/{{ post.user.profile }}" alt="">#}
{#                    {% else %}#}
{#                    <img src="/static/img/konferencije/icons/avatar.jpg" alt="">#}
{#                    {% end %}#}
{#                </div>#}
{##}
{#                <div class="btn-wrapper">#}
{#                    <input type="text" id="comment-text" placeholder="Join discussion...">#}
{#                    <a onclick="addComment('{{ post.id }}', '{{ post.user.author_display_name() }}')"><img#}
{#                            class="arrow-right"#}
{#                            src="/static/img/konferencije/icons/arrow-right.png"#}
{#                            alt=""></a>#}
{#                </div>#}
{#                {% else %}#}
{#                <span></span>#}
{#                <span style="font-size: 14px">Log in to write a comment</span>#}
{#                {% end %}#}
{##}
{#            </div>#}
{#            {% for _, comment in post.get_comments().items() %}#}
{#            <div class="event__past-experience--comment">#}
{#                <div class="comment--author">#}
{#                    <img src="/static/img/konferencije/icons/avatar.jpg" alt="">#}
{#                </div>#}
{##}
{#                <div class="event__past-experience--comment-info">#}
{#                    <h5 id="current-user">{{ comment['author'] }}<span>{{ comment['ago'] }}</span></h5>#}
{#                    <p>{{ comment['text'] }}</p>#}
{#                    <div>#}
{#                        <span>0</span>#}
{#                        <span>#}
{#                            <a href="#"><img src="/static/img/konferencije/icons/down.png" alt=""></a>#}
{#                            <a href="#"><img src="/static/img/konferencije/icons/up.png" alt=""></a>#}
{#                            <a href="">replay</a>#}
{#                            <a href="">share</a>#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            {% end %}#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#</div>#}
{##}
{#{% include '../partials/modals/cropper_modal.html' %}#}
{#{% end %}#}
<script>
    CKEDITOR.disableAutoInline = true;
    CKEDITOR.replace('edit-title');
</script>