{% extends '../base.html' %}
{% block body %}

<div class="registration">
    <div class="registration-box">
        <form class="registration__form">
            <img src="/static/img/logo-white.png" alt="">
            <input id="first-name" type="text" placeholder="First name">
            <input id="last-name" type="text" placeholder="Last name">
            <input id="reg-username" type="text" placeholder="email">
            <input id="reg-password" type="password" placeholder="password">
            <p id="response_text">,</p>
            <button class="action" type="submit" id="register">Sign Up</button>
            <a href="/login">Have account?</a>
        </form>
    </div>
</div>
{% end %}