{% extends 'base.html' %}
{% block body %}

<section class="news-article" data-page-id="{{ page.id }}">

    <div class="page-wrapper" id="{{ page.id }}" data-page="page-image">
        <div class="news-article__main">
            <img class="image" src="{{ page.page_photo() }}" alt="main photo">
        </div>
        <div class="news-article__content">
            <div class="news-article__content--share">
                <div class="flex">
                    <div class="social-share facebook"><img src="/static/img/svg/facebook.svg" alt="facebook"></div>
                    <div class="social-share twitter"><img src="/static/img/svg/twitter.svg" alt="twitter"></div>
                    <div class="social-share linkedin"><img src="/static/img/svg/linkedin.svg" alt="linkedin"></div>
                </div>
                <div class="news-info">
                    <p class="news-date">{{ page.ago() }}</p>
                    <p class="news-author">Author</p>
                </div>
                {#                <div class="news-comments">#}
                {#                    <p>id: {{ page.id }}</p>#}
                {#                </div>#}
            </div>
            <div>
                <div class="news-article__content--text">
                    <h4 class="editable-content page-title"
                        style="justify-content: center !important">{{ page.title }}</h4>
                    <p class="editable-content page-body">{% raw page.body_text() %}</p>
                </div>
            </div>
            <div><a id="delete-page" class="delete-page-btn"><img src="/static/img/svg/trash-black.svg" alt=""><span>Izbrisi stranicu</span></a>
            </div>
        </div>
    </div>

    {% for p in page_posts %}
    <div class="news-article__content">
        <div></div>
        <div>
            <div class="news-article__content--text page-wrapper post-wrapper" id="{{ p.id }}">
                <div style="width: 100%">
                    <img class="image" src="{{ p.get_cover() }}" alt="">
                </div>
                <h4 class="editable-content post-title">{{ p.get_post_title(lang) }}</h4>
                <p class="editable-content post-body">{% raw p.get_post_body(lang) %}</p>
            </div>
        </div>
        <div></div>
    </div>
    {% end %}
    {#    <a id="add-post">dodaj tekst</a>#}

</section>



<div id="cropperModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Dodaj sliku</h2>
            <a class="btn-close" aria-hidden="true"
               id="btnCloseCropper">&times;</a>
        </div>
        <div class="modal-body">
            <canvas id="canvas">Your browser does not support the HTML5 canvas element.</canvas>
        </div>
        <div style="text-align: left;padding-left: 30px;padding-top:30px;font-size: 14px">
            <span id="widthImage"></span> x <span id="heightImage"></span>
        </div>
        <div class="modal-footer" style="position: absolute;bottom: 20px;right: 0">
            <a class="edu-cta" id="crop-image"
               style="display: inline;padding:12px 40px;">Snimi</a>
            <a id="btnRestore">Odustani</a>
        </div>
    </div>
</div>


{% end %}