<div id="addPostModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Add post
            </h2>
            <a class="btn-close" onclick="closeAddPostsModal()" aria-hidden="true">&times;</a>
        </div>
        <div class="line"></div>
        <div class="add-body">
            <input type="text" class="post-input-title" id="post-title"
                   placeholder="enter title">
            <textarea  class="post-input-title post-intro" id="post-intro"
                       placeholder="enter post intro"></textarea>

            <label for="select-category">Select category of post</label>
            <select id="post-category" name="select-category">
                <option value="python">Python</option>
                <option value="javascript">Javascript</option>
                <option value="angular">Angular</option>
                <option value="react">React</option>
            </select>


            <input type="text" class="post-input-title" id="post-subtitle" style="display: none"
                   value="subtitle">
            <div class="other-post-inputs">
                <input type="text" class="post-input" id="post-source" style="display: none"
                       value="source">
            </div>

        </div>


        <div class="modal-footer" style="position: absolute;bottom: 20px;right: 0">
            <a class="login--btn" onclick="addPost()" id="add-post"
               style="display: inline;padding:12px 40px;">create</a>
            <a onclick="closeAddPostsModal()">cancel</a>
        </div>
    </div>
</div>