<div id="createTemplateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>add post</h2>
            <a class="btn-close" onclick='document.getElementById("createTemplateModal").classList.remove("opened")'
               aria-hidden="true">&times;</a>
        </div>
        <div class="modal-body">
            <div class="template__title">
                <div>
                        <label for="post-title">title</label>
                        <input type="text" id="post-title" placeholder="enter title">
                    </div>
                <div style="display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px">

                    <div>
                        <label for="post-category">post category</label>
                        <select id="post-category" name="select-category">
                            <option value="sport">Sport</option>
                            <option value="politics">Politics</option>
                            <option value="life">Life</option>
                            <option value="it">IT</option>
                        </select>
                    </div>
                    <div>
                        <label for="post-category">post language</label>
                        <select id="select-language" name="select-language">
                            {% for l in languages %}
                            <option value="{{ l['id'] }}">{{ l['text'] }}</option>
                            {% end %}
                        </select>


                    </div>

                </div>
                {#                <h6>choose template</h6>#}
                {#                <p>some text</p>#}
                <div class="template__btns">
                    <button id="add-post" class="edu-cta"
                            style="height: 44px">add new post
                    </button>
                    {#                    <button id="check-slug" class="head-action--fill"#}
                    {#                            style="height: 44px">check slug#}
                    {#                    </button>#}
                </div>
            </div>
            <textarea style="display: none" id="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</textarea>
            <input type="text" style="display: none" id="post-subtitle">


            {#            <div class="template__select">#}
            {#                <label class="image-radio image-radio-checked">#}
            {#                    <img src="/static/img/template_1.jpg" alt="template1"/>#}
            {#                    <input type="radio" name="radio-thumb"  value="template1"/>#}
            {#                </label>#}
            {#                <label class="image-radio">#}
            {#                    <img src="/static/img/template_2.jpg" alt="template2"/>#}
            {#                    <input type="radio" name="radio-thumb" value="template2"/>#}
            {#                </label>#}
            {#                <label class="image-radio">#}
            {#                    <img src="/static/img/template_3.jpg" alt="template3"/>#}
            {#                    <input type="radio" name="radio-thumb" value="template3"/>#}
            {#                </label>#}
            {#                <label class="image-radio">#}
            {#                    <img src="/static/img/template_4.jpg" alt="template4"/>#}
            {#                    <input type="radio" name="radio-thumb" value="template4"/>#}
            {#                </label>#}
            {#            </div>#}
        </div>
    </div>
</div>


