{#<div id="cropperModal" aria-hidden="true">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-header">#}
{#            <h2>Add post#}
{#            </h2>#}
{#            <a class="btn-close" onclick="closeCropperModal()" aria-hidden="true">&times;</a>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#            <canvas id="canvas">Your browser does not support the HTML5 canvas element.</canvas>#}
{#        </div>#}
{#        <div class="modal-footer" style="position: absolute;bottom: 20px;right: 0">#}
{#            <a class="login--btn" id="crop-image"#}
{#               style="display: inline;padding:12px 40px;">save</a>#}
{#            <a id="btnRestore">cancel</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
