<div id="shareModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Invite people</h2>
            <a id="closeShareModal" class="btn-close" aria-hidden="true">&times;</a>
        </div>
        <div class="modal-body">
            <p class="input-desc">Share via</p>
            <div class="share__socials">
                <a class="social-share facebook"><img src="/static/img/icons/facebook.svg"
                                                      alt="Facebook page" title="Facebook"></a>
                <a class="social-share twitter"><img src="/static/img/icons/twitter.svg"
                                                     alt="Twitter page" title="Twitter"></a>
                <a class="social-share linkedin"><img src="/static/img/icons/linkedin.svg"
                                                      alt="Linkedin page" title="Linkedin"></a>
            </div>
            <p class="input-desc">Get shareable link</p>
            <div class="share-url">
                <textarea id="shareUrl"></textarea>
                <a id="copyUrl" onclick="copyLink()">Copy link</a>
            </div>
            <p class="input-desc">Invite people</p>
            <div class="modal-footer">
                <a href="#" class="footer-btn">Posalji</a>
            </div>
        </div>
    </div>
</div>