@font-face {
  font-family: Roboto-Bold;
  src: url(/static/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(/static/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/static/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/static/fonts/Roboto-Regular.ttf);
}


body {
  background-color: #eee;
  font-family: Roboto-Regular, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.error {
  color: red;
}


@import 'abstract/variables';
@import 'abstract/mixins';

@import 'components/accordion';
@import 'components/buttons';
@import 'components/cropper';
@import 'components/cards';
@import 'components/header';
@import 'components/modals';
@import 'components/slick';

@import 'pages/courses';
@import 'pages/blog';
@import 'pages/news';
@import 'pages/home';
@import 'pages/login_registration';



