.course {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  margin-left: 60px;
  grid-gap: 50px;

  &-section {
    font-size: $fontSize12;
    color: $link-color;
    letter-spacing: 0.5px;
    font-weight: 300;

    &--duration {
      font-size: $fontSize12;
      color: $text-color;
    }
  }

  &__video {
    width: 95%;
    grid-area: 1 / 1 / 2 / 3;

    &--info {
      width: 100%;
      @include flex-row('space-between', 'center', 'nowrap');

      h3 {
        font-size: $fontSize18;
        font-weight: 500;
        margin: 5px 0 0;
      }

      img {
        width: 18px;
        height: 18px;
        margin-left: 20px;
      }
    }

    &--iframe {
      img {
        width: 100%;
        //height: 600px;
        object-fit: cover;
      }
    }
  }

  &__other {
    grid-area: 2 / 1 / 3 / 3;
    width: 95%;

    & > div {
      margin-bottom: 50px;
    }

    p {
      font-size: $fontSize14;
      color: $text-color;
    }

  }

  &__list {
    grid-area: 1 / 3 / 3 / 4;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    height: calc(100vh - 130px);
    position: fixed;
    right: 60px;
    margin-top: 100px;
    top: 0;
    z-index: 1000;
    overflow: scroll;

    &--content {
      //height: 100%;
    }

    h2 {
      margin: 0 0 20px 0;
      color: $link-color;
      font-size: $fontSize20;
    }

    img {
      height: 100%;
      //object-fit: cover;
    }

  }

  .accordion p {
    margin: 5px 0;
    font-weight: 700;
    font-size: $fontSize14;
  }

  .panel {
    .lesson {
      h5 {
        font-size: $fontSize14;
        font-weight: 300;
        line-height: 17px;
        margin: 0;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $fontSize16;

      & > div {
        padding-top: 10px;
      }

      a {
        color: rgba(0, 0, 0, 0.7);
        font-size: $fontSize14;
        font-weight: 500;
        line-height: 17px;
        margin-left: 30px;
      }

      &--duration {
        margin-left: 25px;
        padding: 0 0 10px 0;

        p {
          color: rgba(0, 0, 0, 0.46);
          font-size: $fontSize12;
          line-height: 14px;
        }

        img {
          width: 12px;
          margin-right: 3px;
        }
      }

      &--resources {
        padding: 5px 10px;
        color: $infoCardColor;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input[type="checkbox"] {
          margin-left: 50px;
        }
      }
    }

    p {
      color: $infoCardColor;
      padding-bottom: 0;
      margin-left: 5px;
    }
  }
}


.course-main-content {
  width: 40%;
}

.course-qa {
  width: 100%;

  .course-user {
    width: 100%;
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      margin-right: 15px;
    }

    .course-msg {
      width: 22px;
      height: 22px;
      border-radius: 1px;
      margin-left: 10px;
      display: block;
    }

    h2 {
      color: $text-color;
      font-weight: 500;
      font-size: $fontSize16;
      margin-bottom: 10px;
    }

    h5 {
      color: $text-color;
      font-size: $fontSize14;
      font-weight: 300;
      margin: 0;
    }

    a {
      font-size: $fontSize14;
      font-weight: 300;
      margin-top: 5px;
      color: $link-color;
    }
  }

  .course-qa--btn {
    padding-left: 50px;
    font-size: $fontSize14;
    color: $link-color;
  }
}

.course-bookmarks {
  .course-bookmark {
    width: 40%;
  }


  &__section {
    h2 {
      color: $text-color;
      font-size: $fontSize16;
      letter-spacing: 0.09px;
      line-height: 19px;
      margin: 10px 0;
    }

    h5 {
      font-size: $fontSize14;
      font-weight: 300;
      letter-spacing: 0.08px;
      line-height: 17px;
      margin: 10px 0;
    }

    h6 {
      color: $text-color;
      font-size: $fontSize12;
      font-weight: 300;
      margin: 10px 0;
      letter-spacing: 0.07px;
      line-height: 14px;
    }
  }

  &__date {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: $text-color;
      margin-top: 10px;
      font-size: $fontSize12;
      font-weight: 300;
      letter-spacing: 0.07px;
      line-height: 14px;

      img {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
      }
    }
  }
}