.main-section {
  width: 100%;
  height: 100vh;
  background-image: url("/static/img/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include flex-row('center', 'center', 'nowrap');

  h1 {
    color: $white-color;
    font-size: $fontSize50;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}