//.registration-wrapper {
//  padding: 200px 160px 0;
//  min-height: calc(100vh - 200px);
//  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/img/konferencije/login-bg.jpg");
//  background-position: center;
//  background-size: cover;
//  height: 100%;
//  //min-height: calc(100vh - 250px);
//  //padding: 250px 160px 0;
//  @include flex-row('center', 'flex-start', 'nowrap');
//}
//
//.registration {
//  width: 400px;
//  border-radius: 10px;
//  box-sizing: border-box;
//  color: $white-color;
//
//  h3 {
//    text-align: center;
//    //margin: 0;
//    font-weight: 500;
//  }
//
//  img {
//    margin: auto;
//    display: block;
//    width: 140px;
//    height: 40px;
//  }
//
//  p {
//    font-size: $fontSize18;
//    margin-top: 20px;
//  }
//
//  &-text {
//    color: $white-color;
//    width: 30%;
//    font-size: $fontSize14;
//
//    ul {
//      li {
//        margin: 15px 0;
//        font-family: 'SF-Pro-Text-Regular', sans-serif;
//        font-weight: 300;
//      }
//    }
//
//    a {
//      color: $cinnabar;
//      font-size: $fontSize12;
//      text-align: center;
//    }
//  }
//
//  &-type {
//    @include flex-row('space-between', 'center', 'nowrap');
//    margin: 30px 0 20px;
//
//    a {
//      text-transform: uppercase;
//      font-weight: 700;
//      color: $cinnabar;
//      font-size: $fontSize14;
//    }
//  }
//
//  &-form {
//    input {
//      font-family: "SF-Pro-Text-Regular", sans-serif;
//      width: 100%;
//      height: 25px;
//      background: transparent !important;
//      color: $white-color;
//      margin-bottom: 30px;
//      padding: 4px 0;
//      box-sizing: border-box;
//      outline: none;
//      font-size: $fontSize12;
//      border: none;
//      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
//      letter-spacing: 0.5px;
//
//      &::placeholder {
//        color: darken($white-color, 30%);
//      }
//
//      &:focus {
//        background-color: transparent;
//      }
//    }
//
//    textarea {
//      width: 100%;
//      height: 200px;
//      background-color: rgba(255, 255, 255, 0.5);
//      font-family: "SF-Pro-Text-Regular", sans-serif;
//      resize: none;
//      border-radius: 10px;
//      padding: 10px;
//      border: none;
//      outline: none;
//      font-size: $fontSize12;
//      color: $white-color;
//      box-sizing: border-box;
//      letter-spacing: 0.5px;
//    }
//  }
//
//  &-policy {
//    font-size: $fontSize10 !important;
//    text-align: center;
//    margin: 10px !important;
//
//    a {
//      color: $link-color;
//    }
//  }
//
//  &-social {
//    width: 100%;
//    @include flex-row('space-between', 'center', 'nowrap');
//
//    button {
//      background-color: transparent;
//      border: none;
//      width: 46px;
//      height: 46px;
//      user-focus: none;
//      outline: none;
//      cursor: pointer;
//      padding: 0;
//
//      img {
//        width: 46px;
//        height: 46px;
//      }
//    }
//  }
//
//  &-error {
//    color: $cinnabar;
//    display: block;
//    visibility: visible;
//    margin: 20px auto;
//    text-align: center;
//    width: 80%;
//    height: 20px;
//    flex-grow: 0;
//    font-size: 0.875rem;
//  }
//}
//
//
//label[for=country] {
//  font-size: $fontSize13;
//  color: rgba(255, 255, 255, 0.8);
//  display: inline;
//  width: 14%;
//  vertical-align: middle;
//}
//
//#country {
//  //width: 87%;
//  padding: 3px;
//  display: inline;
//}
//
//
//.signup__meter {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  width: 100%;
//  margin: 19px auto 0 auto;
//}
//
//.signup__meter span {
//  display: inline-block;
//  font-size: $fontSize12;
//  color: rgba(255, 255, 255, 0.7);
//}
//
//
//#meter_wrapper, #meter_wrapper-reg {
//  margin-left: auto;
//  width: 70%;
//  height: 3px;
//  background-color: #C8C8C8;
//  position: relative;
//}
//
//#meter_wrapper:after, #meter_wrapper-reg:after {
//  position: absolute;
//  content: "";
//  width: 3%;
//  height: 100%;
//  top: 0;
//  left: 31%;
//  background-color: #000;
//  z-index: 9;
//}
//
//#meter_wrapper:before, #meter_wrapper-reg:before {
//  position: absolute;
//  content: "";
//  width: 3%;
//  height: 100%;
//  top: 0;
//  right: 31%;
//  background-color: #000;
//  z-index: 9;
//}
//
//#meter_wrapper {
//  margin-bottom: 0.7rem;
//}
//
//#meter_wrapper-reg {
//  width: 60%;
//  margin-left: 5%;
//}
//
//#meter {
//  width: 0px;
//  height: 3px;
//}
//
//
//.membership-month, .monthly-payment {
//  display: none;
//}
//
//.partner__subscription {
//  margin-top: 130px;
//  margin-bottom: 50px;
//
//  h1 {
//    margin: 0;
//    text-align: center;
//    color: $text-color;
//  }
//}
//
//.partner__membership {
//  margin: 0 60px 50px;
//  color: $text-color;
//  @include flex-row('center', 'flex-start', 'wrap');
//
//  & > div {
//    margin-right: 40px;
//  }
//
//  h2 {
//    margin-bottom: 15px;
//  }
//
//  h3 {
//    @include flex-row('center', 'center', 'nowrap');
//    margin: 0;
//  }
//
//  h4 {
//    margin: 5px 0;
//    text-align: center;
//    color: $text-color;
//    font-weight: 500;
//  }
//
//  ul li {
//    margin-top: 15px;
//  }
//}
//
//
//.membership {
//  &-container {
//    width: 100%;
//    display: flex;
//    align-items: flex-start;
//    justify-content: center;
//    flex-wrap: wrap;
//    position: relative;
//  }
//
//  &-toggle {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    padding: 20px 0 20px 0;
//
//    h2 {
//      margin-right: 20px;
//    }
//  }
//
//  &-discount {
//    font-size: $fontSize14;
//    display: flex;
//
//    span:nth-of-type(1) {
//      font-size: $fontSize16;
//      color: rgba(0, 0, 0, 0.5);
//      font-weight: 500;
//      text-decoration: line-through;
//      margin-left: 10px;
//      display: flex;
//    }
//
//    span:nth-of-type(2) {
//      font-size: $fontSize14;
//      color: $cinnabar;
//      font-weight: 500;
//      margin-left: 5px;
//    }
//  }
//
//  &-btn {
//    display: block;
//    margin: 0 auto 10px;
//    width: 100%;
//
//    a {
//      width: 100%;
//      display: block;
//      border-radius: 30px;
//      background-color: $cinnabar;
//      color: #fff;
//      text-decoration: none;
//      font-size: 0.875rem;
//      line-height: 17px;
//      padding: 12px 0;
//      box-shadow: 0 3px 4px 0 rgba(14, 15, 50, 0.1);
//      text-align: center;
//      white-space: pre;
//      transition: all 0.3s ease;
//
//      &:hover {
//        background-color: lighten($cinnabar, 5%);
//      }
//    }
//  }
//}
//
//.forgot-password, .forgot-pass-text {
//  font-size: $fontSize12;
//  color: $white-color;
//}


.registration {
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background: linear-gradient(to right, rgba(#232526, 0.6), rgba(#414345, 0.6)), url("/static/img/login.jpg") no-repeat center;
  position: relative;

  h3 {
    margin: 0
  }

  &-box {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__form {
    width: 400px;
    height: 100%;
    box-sizing: border-box;
    padding: 0 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.3);


    img {
      width: 150px;
      height: 150px;
      margin: auto;
      display: block;
    }

    input {
      margin: 30px auto;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid white;
      //border-radius: 5px;
      outline: 0 none;

      background-color: transparent;
      padding: 8px;
      box-sizing: border-box;
      color: #fff;
    }

    button {
      width: 100%;
      color: #fff;
      margin: 0 auto 20px;
      border-radius: 5px;
      display: block;
      padding: 12px;
      outline: transparent;
      border: none;
      background-color: $main-green;
    }

    a {
      font-size: $fontSize14;
      color: $white-color;
      display: block;
      text-align: center;
    }
  }

  #response_text {
    visibility: hidden;
    color: red;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
  }
}