.news-article {
  &__main {
    width: 100%;
    height: 465px;
    background-color: #eee;
    margin-bottom: 50px;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &__content {
    padding: 0 50px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20%;

    &--share {
      .flex {
        @include flex-row('flex-start', 'flex-start', 'no-wrap');
        margin-top: 5px;

        div {
          width: 50px;
          height: 40px;
          margin-right: 15px;
          background-color: rgba(170, 130, 254, 0.1);
          border-radius: 15px;
          cursor: pointer;
          @include flex-row('center', 'center', 'no-wrap');
          transition: background-color .2s;

          &:hover {
            background-color: lighten($silver, 10%);
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .news-info {
        &::before,
        &::after {
          display: inline-block;
          content: "";
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          width: 130px;
          margin: 20px 0;
        }

        .news-author, .news-date {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
          color: #000;
          margin: 0;
        }

        .news-author {
          margin-top: 10px;
          font-weight: 700;
        }


      }

      .news-comments {
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #000;
        }
      }
    }

    &--text {

      h4 {
        margin: 10px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #000;
        text-align: center;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "Raleway-Regular", sans-serif;
      }

      p {
        text-align: justify;
        font-family: "Raleway-Light", sans-serif;
        font-size: 14px;
        width: 100%;
        color: #000;
        font-weight: 500;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.7);
        margin: 30px 0 30px;
      }

      img {
        width: 100%;
        height: 100%;
        max-height: 464px;
        margin-bottom: 0;
        border-radius: 10px;
      }
    }
  }
}

.pen {
  background-color: rgba(136, 212, 255, 0.2);
  overflow: visible !important;

  &:before {
    display: block;
    content: ' ';
    background-color: #3EB7FC;
    background-image: url('/static/img/svg/pen.svg');
    background-repeat: no-repeat;
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 5pt #3EB7FC;
    right: -7px;
    top: -7px;
    cursor: default;
  }
}

.image {
  object-fit: cover;
  height: 100%;
}

.admin-btns {
  display: flex;
  z-index: 2;

  a {
    margin-left: 30px;
    margin-top: 0;
  }

  #open-edit, #close-edit, #save-all {
    display: none;
  }
}


@media (max-width: 1200px) {
  .news-article {
    &__main {
      margin-bottom: 0;
    }

    &__content {
      //padding: 0 60px;
      //grid-template-columns: 15% auto 15%;
      @include flex-column('flex-start', 'flex-start', 'no-wrap');

      &--share {
        width: 100%;
        margin: 50px 0;
        @include flex-row('space-between', 'center', 'no-wrap');

      }
    }

    .news-info {
      text-align: right;

      &::before, &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .news-article {
    &__content {
      padding: 0 30px;
    }
  }
}