<div style="z-index:100;display: flex;justify-content: space-between;align-items: center;width: 100%;position: fixed;top: 130px;">
    <div></div>
    <div id="toolbarLocation"></div>
    <div class="admin-btns">
        <a id="save-all" class="edu-cta">Snimi</a>
        <a id="open-edit" class="edu-cta">Izmeni</a>
        <a id="close-edit" class="edu-cta edu-ghost">Zatvori</a>


    </div>
</div>