<nav class="nav" id="site-header">
    <a href="/"><img class="logo" src="/static/img/logo.png" alt=""></a>
    <div class="nav__items">
        <div>
            <a href="/blog">blog</a>
            <a href="">news</a>
        </div>
        <div class="login-btn">
            {% if not user %}
            <a href="/login">Login</a>
            {% else %}
            <a onclick="logout()">Logout</a>
            {% end %}
        </div>
    </div>
</nav>