@mixin overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin absolute-cover() {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin img-overlay() {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b2f40;
  background: linear-gradient(90deg, rgba(43, 47, 64, 0.8) 0%, rgba(82, 92, 135, 0.5) 100%);
  z-index: 0;
}

@mixin typography($color, $font-size, $font-weight, $line-height:1) {
  font-weight: unquote($font-weight);
  font-size: unquote($font-size);
  color: unquote($color);
  line-height: unquote($line-height);
}

@mixin flex-row($justify-content: initial, $align-items: initial, $wrap: wrap) {
  display: flex;
  flex-direction: row;
  justify-content: unquote($justify-content);
  align-items: unquote($align-items);
  flex-wrap: unquote($wrap);
}

@mixin flex-column($justify-content: initial, $align-items: initial, $wrap: wrap) {
  display: flex;
  flex-direction: column;
  justify-content: unquote($justify-content);
  align-items: unquote($align-items);
  flex-wrap: unquote($wrap);
}

@mixin position-arrow() {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-color: #fff;
  top: 0;
  z-index: -1;
}

@mixin dropdown-menu() {
  display: none;
  flex-direction: column;
  align-items: baseline;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 10px 50px 0px rgba(50, 49, 61, 0.3);
}

@mixin contactBtn() {
  font-size: $fontSize13;
  //text-transform: uppercase;
  color: #fff;
  border-radius: 40px;
  background-color: red;
  box-shadow: 0px 3px 4px 0px rgba(14, 15, 50, 0.1);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  display: block;
  max-width: 343.625px;
  margin: 0 auto;
  transition: all 0.1s ease;
  &:hover {
    box-shadow: 0px 3px 5px 2px rgba(14, 15, 50, 0.3);;
  }
  &:active {
    background-color: #3689e7;
  }
}

@mixin clearfix() {
  content: "";
  clear: both;
  display: table;
}

@mixin separator($colorBorder) {
  margin: 0 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-self: center;
  span {
    width: 14px;
    border-top: 2px solid $colorBorder;
  }
}

@mixin flexGeneral($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin singleRowEllipsis($maxWidth) {
  max-width: $maxWidth;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multiRowEllipsis($rowNumber) {
  display: -webkit-box !important;
  -webkit-line-clamp: $rowNumber;
  line-clamp: $rowNumber;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin news-grid {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

@mixin small-heading {
  color: #641745;
  font-size: $fontSize16;
  font-weight: 500;
  line-height: 17px;
}


@mixin blue-dot {
  &::before {
    content: "\A";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(8, 34, 115, 0.58);
    display: inline-block;
    margin: 2px 5px;
  }
}


@mixin show-more {
  @include flex-row('center', 'center', 'nowrap');
  margin: 20px auto 10px;
  text-decoration: underline;
  width: 100%;
  font-size: $fontSize12;
  color: $torea-bay;
  cursor: pointer;

  img {
    height: 18px;
  }
}
