$main-green: #679267;
  /* Font sizes */
$fontSize50: 3.125rem;
$fontSize40: 2.5rem;
$fontSize35: 2.1875rem;
$fontSize32: 2rem;
$fontSize31: 1.9375rem;
$fontSize30: 1.875rem;
$fontSize28: 1.75rem;
$fontSize27: 1.6875rem;
$fontsize25: 1.5625rem;
$fontSize24: 1.5rem;
$fontSize22: 1.375rem;
$fontSize21: 1.3125rem;
$fontSize20: 1.25rem;
$fontSize18: 1.125rem;
$fontSize17: 1.0625rem;
$fontSize16: 1rem;
$fontSize15: 0.9375rem;
$fontSize14: 0.875rem;
$fontSize13: 0.8125rem;
$fontSize12: 0.75rem;
$fontSize11: 0.6875rem;
$fontSize10: 0.625rem;
$fontSize9: 0.5625rem;
$infoCardColor: #3A424C;
  $white-color: #fff;
$cinnabar: #E95947;
$mud-white: #F7F7F7;
$grey-color: #C8C8C8;

$text-color: rgba(0,0,0,0.8);
$link-color:#589deb;
$torea-bay: #112a78;
$waikawa-gray: #4d609a;
$disco: #641745;

$lighting-yellow: #fbbd2c;

$black-color: #170F0F;

$blue-btn: #586AA2;



$blue-munsell: #1985A1;
$black-coral: #4C5C68;
$davys-gray: #46494C;
$silver: #C5C3C6;
$gainsboro: #DCDCDD;
$white-color: #fff;