/* Style the buttons that are used to open and close the accordion panel */
.accordion2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.accordion, .accordion2 {
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  transition: all 0.4s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $fontSize16;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: none;
  }

  img {
    opacity: 0.5;
    margin-left: 2rem;
    width: 10px;
    transition: all 0.4s;
  }
}

.panel {
  max-height: 1px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: max-height 0.2s ease-out;

  p {
    font-size: $fontSize14;
    color: #737A84;
    padding: 0.5rem 0 1rem;
    margin: 0;
  }
}
.panel .show {
  max-height: 100%;
}

.timetable__skipped {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: $fontSize14;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}