#canvas {
  width: 90%;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;

  img {
    max-width: 100%;
  }
}

input[type='file'] {
  width: 137px;
  height: 44px;
  opacity: 0
}

#file-button-value {
  width: 137px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  line-height: 25px;
  text-indent: 10px;
  pointer-events: none;
  color: transparent;
}

#file-button {
  cursor: pointer;
  display: block;
  height: 44px;
  position: absolute;
  z-index: 100;
  right: 20px;
  bottom: 20px;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  transition: 500ms all;
  color: $white-color !important;
  width: auto;
  min-width: 137px;
  @include btn;
  box-sizing: border-box;
  padding: 14px;
  font-weight: 300;
}

#file-button:hover {
  background-color: lighten($cinnabar, 5%);
}