
.fill-btn {
  @include flex-row('center', 'center', 'nowrap');
  border-radius: 30px;
  background-color: $main-green;
  cursor: pointer;
  width: 137px;
  height: 44px;
  box-sizing: border-box;
  font-size: $fontSize14 !important;
  color: $white-color;
  border: 1px solid $main-green;
}

.ghost-btn {
  @include flex-row('center', 'center', 'nowrap');
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  width: 137px;
  height: 44px;
  box-sizing: border-box;
  font-size: $fontSize14 !important;
  color: $main-green;
  border: 1px solid $main-green;
}


#edit-title, #edit-body, #edit-subtitle {
  border: 1px dotted $main-green;
  padding: 5px;
  //outline-offset: 3px;
}

#edit-body {
  min-height: 400px;
}


.post-btns {
  position: absolute;
  bottom: 70px;
  right: 0;
}



.edu-cta {
  background: $blue-munsell;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  font-family: "Raleway-Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  @include flex-row('center', 'center', 'no-wrap');
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.edu-ghost {
  background-color: #fff;
  color: $blue-munsell;
  font-weight: 500;
  border: 1px solid $blue-munsell;

}

.delete-page-btn {
  @include flex-row('flex-end', 'center', 'no-wrap');
  cursor: pointer;

  span {
    font-size: 14px;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}


.admin-btns {
  display: flex;
  z-index: 2;
  padding-right: 50px;

  a {
    margin-left: 30px;
    margin-top: 0;
  }

  #open-edit, #close-edit, #save-all {
    display: none;
  }
}

.login-btn a {
  color: $blue-munsell;
  font-size: $fontSize14;
}