.main-posts {
  margin-top: -130px;
  padding: 0 50px;

  h2 {
    font-size: $fontSize18;
    color: $white-color;
    margin-bottom: 30px;

  }
}

.cards {
  @include flex-row('center', 'flex-start', 'nowrap');
  width: 100%;
  //overflow: hidden;
}

.card {
  &__landscape {
    margin-right: 20px;
    width: 300px !important;
    height: 170px !important;
    background-color: $black-coral;
    position: relative;
    border-radius: 10px;


    &--content {
      position: absolute;
      bottom: 15px;
      left: 15px;

      h3 {
        font-size: $fontSize16;
        color: $white-color;
        margin: 0;
      }

      p {
        margin: 15px 0 0 0;
        font-size: $fontSize14;
        @include multiRowEllipsis(2);
        width: 90%;
        color: $white-color;
      }
    }
  }

  &--add {
    border: 2px dashed #00A3FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: none;
    height: 150px;
    width: 100%;
    margin: auto;
    transition: all .2s;
    cursor: pointer;

    img {
      width: 26px;
      height: 26px;
      position: relative;
    }

    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 13px;
      text-align: center;
      margin: 10px 0 0 0;
      width: 150px;
      color: rgba(0, 0, 0, 0.5)
    }

    &:hover {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    }
  }
}

