.user__dropdown-btn {
  z-index: 100;
  font-size: 16px;
  border: none;
  cursor: pointer;

  img:nth-child(1) {
    width: 40px;
    z-index: -99;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
  }

  img:nth-child(2) {
    width: 19px;
    height: 19px;
    z-index: -99;
    margin-right: 0;
  }
}

.user__dropdown {
  position: relative;
  display: inline-block;
}

.user__dropdown-content {
  display: none;
  right: 40px;
  top: 55px;
  position: absolute;
  width: 223px;
  padding: 0 5px;
  border-radius: 10px 0 10px 10px;
  background-color: $white-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 1;

  a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
}

.show-dropdown {
  display: block;
}

.languages__dropdown {
  display: none;
  right: 12px;
  top: 40px;
  position: absolute;
  width: 150px;
  padding: 0 5px;
  border-radius: 10px 0 10px 10px;
  background-color: $white-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 1;

  div {
    border-top: none;
    border-bottom: none;
  }
}



