#site-header {
  box-sizing: border-box;
  width: 100%;
  padding: 0 50px;
  z-index: 10;
  background-color: $gainsboro;
  @include flex-row('space-between', 'center', 'wrap');
  position: fixed;
  height: 80px;
  top: 0;
  transition: all .3s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, .1);

  .logo {
    width: 80px;
  }

  .nav__items {
    width: 30%;
    @include flex-row('space-between', 'center', 'wrap');

    a {
      margin-left: 30px;
    }

  }
}

#site-header.hide {
  top: -81px;
}
