.opened {
  position: fixed;
  display: block;
  z-index: 990;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.opened .modal-dialog {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 500px;
  height: auto;
}

.modal-dialog {
  background-color: $white-color;
  border: 0 solid #333333;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: -2500px; // Change this if modal box appears on screen
  left: 50%;
  z-index: 1;
  width: 640px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(-50%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;

  .modal-header {
    h2 {
      font-size: $fontSize16;
      font-weight: 500;
      line-height: 19px;
      text-align: left;
      width: 84%;
      margin: 15px auto 30px;
    }

    a {
      position: absolute;
      right: 15px;
      top: 5px;
      font-size: $fontSize24;
      font-weight: 300;
      cursor: pointer;
    }
  }

  .modal-body {
    .input-desc {
      color: #000;
      font-family: inherit;
      font-size: $fontSize12;
      line-height: 14px;
      text-align: left;
      width: 84%;
      margin: 0 auto 15px;

    }

    .share__socials {
      margin-bottom: 30px;

      img {
        width: 46px;
        height: 46px;
        margin: 0 20px;
        cursor: pointer;
      }
    }
  }

  .modal-footer {
    a {
      margin: 55px 30px 20px auto;
    }
  }
}

#addToEvent {
  z-index: 1005;

  .modal-header {
    h2 {
      color: rgba(0, 0, 0, 0.8);
      width: 100%;
    }
  }

  .modal-dialog {
    width: 300px;
    text-align: left;
    padding-left: 20px;
  }
}


.share-url {
  margin: 0 auto 30px;
  width: 80%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #F7F7F7;
  border: 1px solid rgba(0, 0, 0, 0.17);

  #shareUrl {
    resize: none;
    outline: none;
    box-sizing: border-box;
    height: 40px;
    padding: 12px 0;
    width: 83%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $text-color;
    font-size: $fontSize12;
    background-color: transparent;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.17);
  }

  a:nth-child(2) {
    font-weight: 700;
    cursor: pointer;
    font-size: $fontSize12;
  }

  input {
    resize: none;
    outline: none;
    box-sizing: border-box;
    height: 40px;
    padding: 12px 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $text-color;
    font-size: $fontSize12;
    background-color: transparent;
    border: none;
  }
}

#requestBookingModal {
  width: 100%;
  border-radius: 0;
  z-index: 1003;

  .modal-dialog {
    width: 100%;
    border-radius: 0;
    height: 100vh;
  }

  .event__request-booking {
    background-color: $white-color;
    border-radius: 0;
    border: none
  }
}

#mapModal {
  height: 100vh;
  display: none;

  .modal-dialog {
    width: 100%;
  }

  #mapMobile {
    height: 100vh;
  }
}

#mapFilter {
  z-index: 1003;
  background-color: $cinnabar !important;
  border-top: none;
  margin: 0 20px 10px;
  border-radius: 50px;
  height: 50px;

  #mapBtn {
    background-color: transparent;
  }

  .link-venue-btn {
    color: $white-color;
    margin: 0;
    font-size: $fontSize14;
    border-left: 1px solid $white-color;
  }

}

.modal-header-info {
  padding: 0 15px;
  color: $text-color;

  p {
    @include flex-row('space-between', 'flex-start', 'nowrap');
  }
}

#mapDirection {
  border-radius: 0 0 10px 10px;
}


#termsModal {
  .modal-dialog {
    height: 500px;
    padding: 0 20px;
    text-align: left;
    font-size: $fontSize14;
    line-height: 17px;

    .modal-header {
      h2 {
        margin: 15px 0;
      }
    }

    .terms__body {
      height: 370px;
      overflow: scroll;

      p {
        margin-top: 0;
      }
    }
  }
}

#addPostModal {
  .modal-dialog {
    height: 350px;
    color: $text-color;

    .modal-header h2 {
      width: 90%;
      margin-bottom: 10px;
    }

    .add-body {
      height: 70px;
      width: 100%;
      margin: auto;
      //@include flex-column('center', 'center', 'nowrap');
      //margin-bottom: 20px;
    }

    label {
      font-size: $fontSize14;
      margin-right: 20px;
    }

    select {
      width: 50%;
    }
  }
}

#cropperModal {
  .modal-dialog {
    height: 500px;
    min-width: 700px;

    h2 {
      width: 90%;
      margin: 15px auto;
    }

    .modal-body {
      #canvas {
        width: 100%;
        height: 385px;
        max-height: 385px;
      }
    }
  }
}




#createTemplateModal, #createNewsModal, #createAccordionModal, #changeSlugModal {
  .modal-dialog {
    //padding: 25px;
    height: 300px;
    max-width: 70%;
    width: 600px;

    h2 {
      width: 100%;
      margin: 0;
    }

    .modal-header {
      padding: 15px 0 0 25px;
    }

    .modal-body {
      .template__title {
        padding: 0 25px;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        text-align: left;
        color: rgba(0, 0, 0, 0.7);

        #select-language, #post-category {
          width: 100%;
          height: 34px;
          background: rgba(196, 196, 196, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.2);
          box-sizing: border-box;
          border-radius: 5px;
          color: rgba(0, 0, 0, 0.7);
          outline: none;
          font-weight: lighter;
          padding: 0 12px;
        }



        label {
          display: block;
          text-align: left;
          margin: 20px 0 10px;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 139.8%;
          color: rgba(0, 0, 0, 0.7);
        }

        input,select {
          display: block;
          width: 100%;
          height: 34px;
          background: rgba(196, 196, 196, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.2);
          box-sizing: border-box;
          border-radius: 5px;
          padding: 12px;
          outline: none;
        }


        h6, p {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          margin: 20px 0 0;
          color: rgba(0, 0, 0, 0.6);
        }

        h6 {
          font-weight: 600;
        }
      }

      .template__btns {
        //position: absolute;
        //right: 25px;
        //bottom: -70px;

        button {
          width: 100%;
          border: none;
          margin-top: 35px;
        }
      }

      .template__select {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        background: rgba(186, 188, 200, 0.33);
        padding: 25px;
        border-radius: 0 0 10px 10px;

        label {
          width: 20%;
        }

        img {
          width: 100%;
          height: 100%;
          //max-height: 370px;
          border-radius: 20px;
        }
      }
    }
  }
}