#toaster {
  position: fixed;
  top: 120px;
  right: 5%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.toaster-itm {
  height: 75px;
  width: 300px;
  border-radius: 13px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.09);
  padding: 10px 15px;
  background-color: $white-color;
  color: $text-color;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  animation: modalAnim 0.5s ease-in forwards;
  margin-bottom: 1rem;
  overflow: hidden;
  transform: translateY(0%);

  p {
    flex-grow: 1;
    display: flex;
    height: 58px;
    font-size: $fontSize14;
    align-items: center;
  }

  img {
    width: 24px;
    height: 24px;
  }

  .close-btn {
    width: 12px;
    height: 12px;
    margin-right: 14px;
    cursor: pointer;
  }
}