<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
<link rel="shortcut icon" href="/static/img/logo.png">
    {% try %}
    {% raw "<title>My blog - " + title + "</title>" %}
    {% except %}
    {% raw "<title>My blog</title>" %}
    {% end %}
</head>
<body>


{% include './partials/header.html' %}
{% if user %}
{% include './partials/edit_mode.html' %}
{% end %}
{% block body %}
{% end %}


{% include './partials/modals/cropper_modal.html' %}

<script src="/static/js/vendors/jquery.min.js"></script>
<script src="/static/js/vendors/ckeditor/ckeditor.js"></script>
<script src="/static/js/vendors/ckeditor/config.js"></script>
<script src="/static/js/vendors/ckeditor/ckexternal.config.js"></script>
<script src="/static/js/vendors/cropper/cropper.js"></script>
<script src="/static/js/vendors/slick/slick.min.js"></script>
<script src="/static/js/bundle.js"></script>
</body>
</html>