{% extends './base.html' %}

{% block body %}

<section class="main-section">
    <h1>{{ tr(lang, 'companies') }}</h1>
</section>
<div class="main-posts">
    <h2>Newest posts</h2>
    <div class="cards">
        {% for p in posts %}
        <a href="/blog/{{ p.slug }}" class="card__landscape"
           style="background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ p.page_photo() }}');background-size: cover;background-position: center">
            <div class="card__landscape--content">
                <h3>{{ p.title }}</h3>
                <p>{% raw p.body_text() %}</p>
            </div>
        </a>
        {% end %}
    </div>
</div>





{% end %}